extends layouts/layout
include  ../components/**/*.jade
block title
    | 123
block content
    header.social
        ul.social__list.wrapper_center.wrapper_flex.wrapper_nowrap.wrapper_vertical-center.wrapper
            +social('whatsapp')
            +social('inst')
            +social('vk')
            +social('telegram')
            +social('youtube')
    header.header
        .wrapper.header__wrapper
            .header__content
                h1.header__title Вы попали в блог о нумерологии <br/> БЕЗ МАГИИ
                p.header__text Здесь нет места экзотике, <br/> только проверенные факты и иследования
    section.section_me.me
        .wrapper.wrapper_full.wrapper.wrapper_flex.wrapper_vertical-center.me__wrapper
            .me__left
                img(src='img/me-img.jpg' alt='123' class='me__img')
            .me__right
                h2.me__title Ольга <br/> Перцева
                ul.me__list
                    li Нумеролог
                    li Дипломированный психолог
                    li Коуч, тренер личностного роста
                    li Практический опыт 14 лет
                    li Авторская интерпритация психоматрицы <br/> основанна исключительно на практическом <br/> опыте

    .info
        .wrapper.info__wrapper
            p.info__text Методика оценки личности позволяет за 2 минуты узнать о человеке 98% скрытой информации. Без
                |эзотерики и магии . Диагностика позволяет сделать едва ли ни безошибочно  выбрать партнера для
                |брака , сотрудника , партнёра для бизнеса , понять поведение ребёнка и обезопасить его будущее
    .matrix
        h2.matrix__title Узнай
            span  прямо сейчас
            |  свою психоматрицу
        p.matrix__text Психоматрица по дате рождения (Квадрат Пифагора)
        .wrapper.matrix__wrapper
            .matrix__form
                input(name='date' class='matrix__input' placeholder='Выберите дату')
            .result
                .result__loader
                    .result__image
                .result__hidden
                    p.matrix__text Отлично! Это Ваша психоматрица или инструкция к твоей жизни
                    .result__wrap
                        .result__left
                            .result__big
                                .result__row.result__flex
                                    .result__info Дата рождение
                                    .result__answer(data-answer='date')
                                .result__row.result__flex
                                    .result__info Доп. числа
                                    .result__answer(data-answer='second-number')
                                .result__row.result__flex
                                    .result__info Число судьбы
                                    .result__answer(data-answer='destiny-number')
                            .result__cube
                                .result__row
                                    +res('Характер', 0)
                                    +res('Здоровье', 3)
                                    +res('Удача', 6)
                                .result__row
                                    +res('Энергия', 1)
                                    +res('Логика', 4)
                                    +res('Долг', 7)
                                .result__row
                                    +res('Интерес', 2)
                                    +res('Труд', 5)
                                    +res('Память', 8)
                                .result__row
                                    +res('Быт', 9)
                        .result__right
                            +res_black('Темперамент', 10)
                            +res_black('Цель', 11)
                            +res_black('Семья', 12)
                            +res_black('Привычки', 13)

                    h3.matrix__subtitle ПОЛУЧИТЕ МОМЕНТАЛЬНЫЙ РАССЧЕТ<br/>ПО ДАТЕ РОЖДЕНИЯ
                    a(href="#").matrix__button.disabled Получить моментально
                    p.matrix__small Моментально на Ваш E-mail нумеролог пришлет заказанный Вами рассчет по дате
    .inst
        .wrapper.inst__wrapper
            p.inst__first Теперь приглашаю Вас в блог <i>instagram</i> и узнать больше информации о себе от самого необычного нумеролога в Инстаграм Ольги Перцевой
            p.inst__last Здесь самые интересные статьи, иследования и рекомендации для Вас
            .inst__wrap
                .inst__left
                    a(href='#').inst__link.inst__link_inst
                .inst__center
                    ul
                        li о детях
                        li о семье
                        li о профессии
                        li о жизни
                .inst__right
                    a(href='#').inst__link.inst__link_telegram