extends layouts/layout
include  ../components/**/*.jade
block title
    | 123
block content
    header.social
        ul.social__list.wrapper_center.wrapper_flex.wrapper_nowrap.wrapper_vertical-center.wrapper
            +social('whatsapp')
            +social('inst')
            +social('vk')
            +social('telegram')
            +social('youtube')
    .pricing
        h2.pricing__title Журнал
        h3.pricing__subtitle Мысли в слух
        .journal__wrapper.wrapper_flex.wrapper.wrapper_wrap
            .journal
                .journal__left
                    a(href='#')
                        img(src='img/journal.jpg' alt='123')
                .journal__right
                    h3.journal__title
                        a(href='#') Заголовок статьи
                    p.journal__text превьюшка новости на главной  странице сайта Это тестовая
                        | новость которая показывает как будет выглядеть превьюшка
                        | новости на главной странице сайта Это тестовая новость которая
                        | показывает как будет выглядеть превьюшка новости на главной
                        | странице сайта
                    a(href='#').journal__link читать >

            .journal
                .journal__left
                    a(href='#')
                        img(src='img/journal.jpg' alt='123')
                .journal__right
                    h3.journal__title
                        a(href='#') Заголовок статьи
                    p.journal__text превьюшка новости на главной  странице сайта Это тестовая
                        | новость которая показывает как будет выглядеть превьюшка
                        | новости на главной странице сайта Это тестовая новость которая
                        | показывает как будет выглядеть превьюшка новости на главной
                        | странице сайта
                    a(href='#').journal__link читать >

            .journal
                .journal__left
                    a(href='#')
                        img(src='img/journal.jpg' alt='123')
                .journal__right
                    h3.journal__title
                        a(href='#') Заголовок статьи
                    p.journal__text превьюшка новости на главной  странице сайта Это тестовая
                        | новость которая показывает как будет выглядеть превьюшка
                        | новости на главной странице сайта Это тестовая новость которая
                        | показывает как будет выглядеть превьюшка новости на главной
                        | странице сайта
                    a(href='#').journal__link читать >
        .pagination
            ul
                li.active 1
                li
                    a(href='#') 2
                li
                    a(href='#') 3
    footer.footer
        .footer__wrapper.wrapper.wrapper_nowrap.wrapper_vertical-center.wrapper_flex.wrapper_center
            a(href='#').footer__link.footer__link_whatsapp
            a(href='#').footer__link.footer__link_inst
            a(href='#').footer__link.footer__link_vk
            a(href='#').footer__link.footer__link_telegram
            a(href='#').footer__link.footer__link_youtube
