// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$inst-inst-name: 'inst-inst'
$inst-inst-x: 250px
$inst-inst-y: 0px
$inst-inst-offset-x: -250px
$inst-inst-offset-y: 0px
$inst-inst-width: 72px
$inst-inst-height: 71px
$inst-inst-total-width: 322px
$inst-inst-total-height: 71px
$inst-inst-image: '../img/sprite.png'
$inst-inst: (250px, 0px, -250px, 0px, 72px, 71px, 322px, 71px, '../img/sprite.png', 'inst-inst', )
$inst-telegram-name: 'inst-telegram'
$inst-telegram-x: 174px
$inst-telegram-y: 0px
$inst-telegram-offset-x: -174px
$inst-telegram-offset-y: 0px
$inst-telegram-width: 66px
$inst-telegram-height: 67px
$inst-telegram-total-width: 322px
$inst-telegram-total-height: 71px
$inst-telegram-image: '../img/sprite.png'
$inst-telegram: (174px, 0px, -174px, 0px, 66px, 67px, 322px, 71px, '../img/sprite.png', 'inst-telegram', )
$inst-name: 'inst'
$inst-x: 63px
$inst-y: 0px
$inst-offset-x: -63px
$inst-offset-y: 0px
$inst-width: 27px
$inst-height: 26px
$inst-total-width: 322px
$inst-total-height: 71px
$inst-image: '../img/sprite.png'
$inst: (63px, 0px, -63px, 0px, 27px, 26px, 322px, 71px, '../img/sprite.png', 'inst', )
$telegram-name: 'telegram'
$telegram-x: 100px
$telegram-y: 0px
$telegram-offset-x: -100px
$telegram-offset-y: 0px
$telegram-width: 27px
$telegram-height: 26px
$telegram-total-width: 322px
$telegram-total-height: 71px
$telegram-image: '../img/sprite.png'
$telegram: (100px, 0px, -100px, 0px, 27px, 26px, 322px, 71px, '../img/sprite.png', 'telegram', )
$vk-name: 'vk'
$vk-x: 137px
$vk-y: 0px
$vk-offset-x: -137px
$vk-offset-y: 0px
$vk-width: 27px
$vk-height: 26px
$vk-total-width: 322px
$vk-total-height: 71px
$vk-image: '../img/sprite.png'
$vk: (137px, 0px, -137px, 0px, 27px, 26px, 322px, 71px, '../img/sprite.png', 'vk', )
$whatsapp-name: 'whatsapp'
$whatsapp-x: 0px
$whatsapp-y: 0px
$whatsapp-offset-x: 0px
$whatsapp-offset-y: 0px
$whatsapp-width: 18px
$whatsapp-height: 18px
$whatsapp-total-width: 322px
$whatsapp-total-height: 71px
$whatsapp-image: '../img/sprite.png'
$whatsapp: (0px, 0px, 0px, 0px, 18px, 18px, 322px, 71px, '../img/sprite.png', 'whatsapp', )
$youtube-name: 'youtube'
$youtube-x: 28px
$youtube-y: 0px
$youtube-offset-x: -28px
$youtube-offset-y: 0px
$youtube-width: 25px
$youtube-height: 25px
$youtube-total-width: 322px
$youtube-total-height: 71px
$youtube-image: '../img/sprite.png'
$youtube: (28px, 0px, -28px, 0px, 25px, 25px, 322px, 71px, '../img/sprite.png', 'youtube', )
$spritesheet-width: 322px
$spritesheet-height: 71px
$spritesheet-image: '../img/sprite.png'
$spritesheet-sprites: ($inst-inst, $inst-telegram, $inst, $telegram, $vk, $whatsapp, $youtube, )
$spritesheet: (322px, 71px, '../img/sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
